
<form action="/admin/login" method="post">
  <div class="col-auto">
    <label for="exampleInputEmail1" class="col-form-label">Usuario</label>
    <input name="user" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="col-auto">
    <label for="exampleInputPassword1" class="col-form-label">Contraseña</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </div>
</form>

    {{#if error}}
        <p>Usuario y/o contraseña incorrectos</p>
    {{/if}}