.imgpresentacion img{
    border-radius: 37px 37px 37px 37px;
    border: 3px solid rgb(56, 56, 56);
    width: 75%;
    margin: 10px auto;
    display: block;
}
.presentacion{
    width: 70%;
    padding-right: 10px;
    box-sizing: border-box;
}
.testimonios{
    width: 25%;
}
.columnas{
    display: flex;
    justify-content: space-between;
}
.presentacion p{
    font-size: 20px;
}
.testimonio{
    background-color: rgb(185, 185, 185);
    padding: 16px;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}
.testimonio .autor{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}